@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 144, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 60vw;
    height: 70vh;
    background-color: rgba(28, 28, 28, 0.95);
    border-radius: 1.2vw;
}
.main-section-header{
    width: 100%;
    height: 7vh;
    background-color: rgb(232, 232, 232);
    border-top-right-radius: 1.2vw;
    border-top-left-radius: 1.2vw;
    display: flex;
}
.main-header-reddot{
    width: 1vw;
    height: 2vh;
    background-color: red;
    border-radius: 50%;
    margin: 2.3vh 0 0 1.5vw;
    cursor: pointer;
}
.main-header-yellowdot{
    width: 1vw;
    height: 2vh;
    background-color: rgb(235, 235, 17);
    border-radius: 50%;
    margin: 2.3vh 0 0 1vw;
    cursor: pointer;
}
.main-header-greendot{
    width: 1vw;
    height: 2vh;
    background-color: rgb(40, 214, 40);
    border-radius: 50%;
    margin: 2.3vh 0 0 1vw;
    cursor: pointer;
}

.main-section-text-box1{
    color: rgba(30, 144, 255, 0.6);
    font-weight: 900;
    font-size: 4vw;
    margin: 2.5vh 0 0 3.7vw;
    cursor: pointer;
}
.main-section-text-box2{
    width: 66%;
    color: rgb(232, 232, 232);
    font-family: 'DotGothic16', sans-serif;
    font-size: 2vw;
    text-align: center;
    margin: 2vh 0 0 11vw;
}

.main-section-text-box2 p{
    font-size: 1.5vw;
}
.main-section-text-box2 a{
    color: rgba(30, 144, 255, 0.6);
    cursor: pointer;
}
.main-section-text-box2 a:hover{
    color: azure;
}
.main-section-text-box2 h2{
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 3.5s steps(30, end);
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 17vw;
    height: 7.2vh;
    margin-top: 5vh;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5vw;
    background-color: salmon;
    cursor: pointer;
}
.btn a{
    color: rgb(232, 232, 232);
}
.btn:hover{
    background-color: rgba(30, 144, 255, 0.6);
}
.main-box-link{
    margin-top: 2vh;
}