@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 144, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 60vw;
    height: 70vh;
    background-color: rgba(28, 28, 28, 0.95);
    border-radius: 1.2vw;
}

.main-section-header{
    width: 100%;
    height: 7vh;
    background-color: rgb(232, 232, 232);
    border-top-right-radius: 1.2vw;
    border-top-left-radius: 1.2vw;
    display: flex;
}
.main-header-reddot{
    width: 1vw;
    height: 2vh;
    background-color: red;
    border-radius: 50%;
    margin: 2.3vh 0 0 1.5vw;
    cursor: pointer;
}
.main-header-yellowdot{
    width: 1vw;
    height: 2vh;
    background-color: rgb(235, 235, 17);
    border-radius: 50%;
    margin: 2.3vh 0 0 1vw;
    cursor: pointer;
}
.main-header-greendot{
    width: 1vw;
    height: 2vh;
    background-color: rgb(40, 214, 40);
    border-radius: 50%;
    margin: 2.3vh 0 0 1vw;
    cursor: pointer;
}

.main-section-text-box1{
    color: rgba(30, 144, 255, 0.6);
    font-weight: 900;
    font-size: 4vw;
    margin: 2.5vh 0 0 3.7vw;
    cursor: pointer;
}
.main-section-text-box2{
    width: 66%;
    color: rgb(232, 232, 232);
    font-family: 'DotGothic16', sans-serif;
    font-size: 2.7vw;
    margin: 5vh 0 0 11vw;

    border-right: 0.2rem solid rgba(30, 144, 255, 0.6);
    white-space: nowrap;
    overflow: hidden;

    animation:typing 5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 71% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(30, 144, 255, 0.6); }
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 17vw;
    height: 7.2vh;
    margin-top: 11vh;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5vw;
    color: rgb(232, 232, 232);
    background-color: salmon;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(30, 144, 255, 0.6);
}

@media screen and (max-width:768px){
    main{
        height:50vh;
    }
    .main-section-header{
        height: 5vh;
    }
    .btn{
        margin-top: 5vh;
        height: 6vh;
    }
    .main-header-greendot, .main-header-reddot, .main-header-yellowdot{
        height: 1.5vh;
    }
    .main-section-text-box2{
        margin-top: 3vh;
    }
} 

@media (max-width:425px){
    main{
        width:80vw;
        height: 30vh;
    }
    .btn{
        width: 25vw;
        height: 4vh;
        margin-top: 3vh;
        font-size: 2.5vw;
    }
    .main-section-text-box2{
       font-size: 3.2vw;
       margin-top: 1.5vh;
    }
    .main-header-greendot, .main-header-reddot, .main-header-yellowdot{
        height: 1vh;
        margin-top: 1.5vh;
    }
    .main-section-header{
        height: 4vh;
    }
}

@media (max-width:375px){
    main{
        height: 30vh;
    }
    .main-header-greendot, .main-header-reddot, .main-header-yellowdot{
        width: 1vw;
    }
    .main-section-text-box2{
       font-size: 3.5vw;
       text-align: center;
    }
}  

@media (max-width:320px){
    main{
        width:80vw;
        height: 30vh;
    }
    .main-section-text-box2{
       font-size: 3.5vw;
       margin-top: 1.5vh;
       text-align: center;
    }
}  